<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate *ngIf="!forgetPass && !changePassflaf">
  <div class="app-body">

    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group" style="padding-bottom: 100px;">
            <div class="card p-4" style="margin-top: 35px;
            box-shadow: 0px 10px 10px #a2a2a2;">
              <div class="card-body text-right">
                <img src="assets/img/logo/sculpture-hospitality.svg" style="
                    width: 159px;
                    position: absolute;
                    left: 45px;
                    top: 14px;
                "></div>
              <div class="card-body">
                <!-- <h2 translate>welcome_bar</h2> -->
                <p class="text-muted" translate>changepassword</p>
                <div class="form-group">
                  <label for="" translate="">sclupt_userid</label>
                  <input class="form-control" autocomplete="off" tabindex="2" name="usrid" id="usrid" #usrid="ngModel"
                    placeholder="{{'userid' | translate}}" [(ngModel)]="userbevmail" required>

                </div>
                <div *ngIf="f.submitted &&  usrid.invalid" class="text-danger">

                  <div *ngIf="usrid.errors.required">{{'userid' | translate}} {{'is_required' | translate}}</div>

                </div>
                <div class="form-group text-right mt-2">
                  <button class="btn btn-primary" type="submit" translate="">nxt</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


<form name="form" (ngSubmit)="f.form.valid && submitOTP()" #f="ngForm" novalidate *ngIf="forgetPass ">
  <div class="app-body">

    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group" style="padding-bottom: 100px;">
            <div class="card p-4" style="margin-top: 35px;
            box-shadow: 0px 10px 10px #a2a2a2;">

              <div class="card-body text-right">
                <img src="assets/img/logo/sculpture-hospitality.svg" style="
                    width: 159px;
                    position: absolute;
                    left: 45px;
                    top: 14px;
                ">
              </div>
              <!-- <h2 translate>welcome_bar</h2> -->
              <p class="text-muted" translate>changepassword</p>
              <div class="form-group">
                <label for="" translate="">bevmail</label>
                <input class="form-control" autocomplete="off" tabindex="2" name="userbevmail" id="userbevmail"
                  [(ngModel)]="userbevmail" readonly>
              </div>
              <div class="form-group">
                <label for="" translate="">entr_otp</label>
                <input class="form-control" autocomplete="off" tabindex="2" name="otp" id="otp" #otp="ngModel"
                  placeholder="{{'entr_otp' | translate}}" [(ngModel)]="changePasswordOTPdata.otp" required>

              </div>
              <div *ngIf="f.submitted &&  otp.invalid" class="text-danger">

                <div *ngIf="otp.errors.required">{{'OTP' | translate}} {{'is_required' | translate}}</div>

              </div>
              <div class="form-group text-right mt-2">
                <button class="btn btn-primary" type="submit" translate="">nxt</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</form>



<form name="form" (ngSubmit)="f.form.valid && changePAssword()" #f="ngForm" novalidate *ngIf="changePassflaf">

  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card-group" style="padding-bottom: 100px;">
          <div class="card p-4" style="margin-top: 35px;
        box-shadow: 0px 10px 10px #a2a2a2;">
            <div class="card-body p-0 pt-5">
              <img src="assets/img/logo/sculpture-hospitality.svg" style="
                width: 159px;
                position: absolute;
                left: 45px;
                top: 14px;
            ">

              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>New Password<span class="text-danger">*</span></label>
                      <input class="form-control" id="new_pass" #new_pass="ngModel" name="new_pass" type="password"
                        [(ngModel)]="changePAsswordData.new_pass" autocomplete="new-password" placeholder="New Password"
                        tabindex="2" [ngClass]="{ 'is-invalid': f.submitted &&  new_pass.invalid }" />
                    </div>
                    <div *ngIf="f.submitted &&  new_pass.invalid" class="text-danger">
                      <div *ngIf="new_pass.errors.required">{{'password' | translate}} {{'is_required' | translate}}
                      </div>
                      <div *ngIf="!new_pass.errors.required && new_pass.dirty">{{'enter_valid' | translate}}
                        {{'password' |
                        translate}}</div>
                    </div>
                    <small>
                      <div *ngIf="f.submitted &&  new_pass.invalid" class="text-danger">
                        <div *ngIf=" new_pass.errors.required"> is_required</div>

                      </div>
                    </small>


                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Confirm Password<span class="text-danger">*</span></label>
                      <input class="form-control" id="cnf_pass" name="cnf_pass" tabindex="3" type="password"
                        [(ngModel)]="changePAsswordData.cnf_pass" autocomplete="new-password" #cnf_pass="ngModel"
                        placeholder="Confirm Password" [ngClass]="{ 'is-invalid': f.submitted &&  cnf_pass.invalid }" />
                    </div>
                  </div>
                  <div *ngIf="f.submitted &&  new_pass.invalid" class="text-danger">
                    <div *ngIf="cnf_pass.errors.required">{{'password' | translate}} {{'is_required' | translate}}
                    </div>
                    <div *ngIf="!cnf_pass.errors.required && cnf_pass.dirty">{{'enter_valid' | translate}}
                      {{'password' |
                      translate}}</div>
                  </div>
                  <div *ngIf="changePAsswordData.cnf_pass">
                    <small class="text-danger" *ngIf="changePAsswordData.new_pass!=changePAsswordData.cnf_pass"
                      translate="">password_not_match</small>
                  </div>
                  <div *ngIf="f.submitted &&  new_pass.invalid" class="text-danger">
                    <div *ngIf="cnf_pass.errors.required">{{'password' | translate}} {{'is_required' | translate}}
                    </div>
                    <div *ngIf="!cnf_pass.errors.required && cnf_pass.dirty">{{'enter_valid' | translate}}
                      {{'password' |
                      translate}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button class="btn btn-danger btn-sm mr-2" type="button" translate="" (click)="clear()" tabindex="6"><i
                  class="fa fa-rotate-left"></i>
                {{'reset' | translate}}</button>
              <button class="btn text-white btn-success btn-sm" type="submit" tabindex="5"><i
                  class="fa fa-save"></i>&nbsp;
                {{'save' |
                translate}}</button>
              <!-- (click)="changePAssword ();" -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>