<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>

  <div class="app-body">

    <div class="container"> 
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group" style="padding-bottom: 100px;">
            <div class="card p-4" style="margin-top: 35px;
            box-shadow: 0px 10px 10px #a2a2a2;">
              <div class="card-body">
                <div class="card-body text-right">
                  <img src="{{imgParentPath}}" style="
                    width: 70px;
                    position: absolute;
                    left: 45px;
                    top: 14px;
                ">
                </div>
                <!-- <h2 translate>welcome_fte</h2> -->
                <p class="text-muted" translate>changepassword</p>
                <div class="form-group">
                  <label for="" translate="">newpwd</label>
                  <input type="password" class="form-control" autocomplete="off" [(ngModel)]="data.newpwd" tabindex="2"
                    name="newpwd" #newpwd="ngModel" placeholder="{{'newpwd' | translate}}"
                    [ngClass]="{ 'is-invalid': f.submitted && newpwd.invalid }" required>
                  <div *ngIf="f.submitted && newpwd.invalid" class="text-danger">
                    <div *ngIf="newpwd.errors.required">{{'newpwd' | translate}} {{'is_required' |
                      translate}}</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" translate="">confpwd</label>
                  <input type="password" class="form-control" autocomplete="off" [(ngModel)]="data.confpwd" tabindex="3"
                    name="confpwd" #confpwd="ngModel" placeholder="{{'confpwd' | translate}}"
                    [ngClass]="{ 'is-invalid': f.submitted && confpwd.invalid }" required>
                  <div *ngIf="f.submitted && confpwd.invalid" class="text-danger">
                    <div *ngIf="confpwd.errors.required">{{'confpwd' | translate}} {{'is_required' |
                      translate}}</div>
                  </div>
                  <div *ngIf="data.confpwd">
                    <small class="text-danger" *ngIf="data.newpwd!=data.confpwd" translate="">password_not_match</small>
                  </div>
                </div>
                <div class="form-group text-right mt-2">
                  <button class="btn btn-primary" type="submit" translate="">done</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>