<ol class="breadcrumb">
    <app-breadcrumb *ngIf="!integrate"></app-breadcrumb>
    <span style="text-transform: capitalize;padding-left: 5px;"></span>
    <li class="breadcrumb-menu">
        <app-actionbtn [buttons]="buttons" (onaction)="buttonClicks($event)" [isfav]="isfav"></app-actionbtn>

    </li>
</ol>
<div class="fixed-content">
    <div class="card">
        <div class="card-body">
            <form name="form" id="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="">Asset Type : </label>
                            <select name="type" id="type" class="form-control" [(ngModel)]="form.type"
                                [disabled]="form.id!=''" (change)="form.otherdata.subtype=1">
                                <option value="">Select Type</option>
                                <option value="1">Image</option>
                                <option value="2">Video</option>
                                <option value="3">Audio</option>
                                <option value="4">Document</option>
                                <option value="5">Web Page</option>
                            </select>
                        </div>
                        <div class="form-group" *ngIf="form.type==2">
                            <label for="">Video Type : </label>
                            <select name="subtype" id="subtype" class="form-control"
                                [(ngModel)]="form.otherdata.subtype" [disabled]="form.id!=''">
                                <option value="1">Video File</option>
                                <option value="2">Video Url</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Name : </label>
                            <input type="text" name="name" id="name" class="form-control" [(ngModel)]="form.name">
                        </div>
                        <div class="form-group">
                            <label for="">Description : </label>
                            <textarea name="desc" id="desc" class="form-control"
                                [(ngModel)]="form.description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Tags : </label>
                            <p-chips name="tags" [(ngModel)]="form.tags"></p-chips>
                        </div>
                    </div>
                    <div class="col-md-7"
                        *ngIf="((form.type==1 || form.type==3 || form.type==4 || form.type==2) && form.otherdata.subtype==1)">
                        <app-uploader (onUpload)="getuploadedFiles($event)" [multipleUpload]="false"
                            [isEdit]="(form.id!='')?true:false" [fileData]="fileData">
                        </app-uploader>
                    </div>
                    <div class="col-md-5" *ngIf="(form.type==5 || (form.type==2 && form.otherdata.subtype==2))">
                        <div class="form-group">
                            <label for="">Url : </label>
                            <input type="text" name="url" id="url" class="form-control" [(ngModel)]="form.url">
                        </div>
                        <div class="pt-2">
                            <img src="{{global.getConfig().document_path}}{{thumbnail}}" alt=""
                                style="height:150px;width:150px;border:1px solid #a3a3a3">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>